@import '@/shared/assets/styles/_variables.sass'

.subscriptions
    padding: 32px 0px 120px
    .heading
        margin-bottom: 44px
        @media (max-width: $small)
            margin-bottom: 32px
