@import '@/shared/assets/styles/_variables.sass'

.navbar

    .vertical
        flex-direction: column
        align-items: flex-start

    .horizontal
        flex-direction: row
        align-items: center
    .navList

        list-style: none
        display: flex

        gap: 20px

        .selectedItem
            color: $neutral-500
            font-weight: $fw-semi-bold
