@import '@/shared/assets/styles/_variables'

.margin-b
    margin-bottom: 60px

.body
    display: flex
    flex-direction: column
    gap: 24px

    .totalBlock
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

        .labelBlock
            color: $neutral-100
            font-size: $fs-28
            line-height: $fs-40
            font-weight: $fw-bold
