@import '@/shared/assets/styles/_variables.sass'

.logo
    display: flex
    align-items: center
    gap: 10px

    span
        font-size: $fs-28
        font-weight: $fw-bold
        color: $neutral-100
        text-transform: uppercase
