@import '@/app/styles/_variables.sass'

.accordionActive.accordion
    padding: 48px 60px
    background-color: $neutral-600
    padding: 48px 60px 56px
.accordion
    width: 100%
    background-color: $neutral-700
    color: $neutral-100

    padding: 48px 60px
    border-radius: 12px

    .header
        display: flex
        justify-content: space-between
        cursor: pointer
        .headerTitle
            font-size: $fs-24
            line-height: $fs-34
            font-weight: $fw-bold
        .headerIcon

    .content
        margin-top: 16px
