@import '@/shared/assets/styles/_variables'

.dummyState
    display: flex
    flex-direction: column
    margin: 0 auto
    max-width: 305px
    color: $neutral-100
    align-items: center
    .dummyIcon
        display: flex
        align-items: center
        justify-content: center
        background-color: $neutral-600
        border-radius: 50%
        width: 96px
        height: 96px
        margin-bottom: 24px

    .dummyTitle
        margin-bottom: 8px
        font-size: $fs-28
        color: $neutral-100
        font-weight: $fw-bold
        line-height: $fs-40
        text-align: center

    .dummySubtitle
        max-width: 262px
        margin: 0 auto
        text-align: center
        font-size: $fs-18
        color: $neutral-100
        font-weight: $fw-medium
        line-height: $fs-30

    .dummyBtn
        margin-top: 32px
        padding: 0px 38px
        font-size: $fs-18
        height: 70px
