@import '@/shared/assets/styles/_variables'

.footerContent
    display: flex
    flex-direction: row
    justify-content: flex-start
    span
        font-size: $fs-16
        line-height: $fs-18
        color: $neutral-100
        font-weight: $fw-medium
    .footerBtn
        font-size: $fs-16
        line-height: $fs-18
        font-weight: $fw-medium
        padding: 0 8px
