@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
@import './_variables'
@import './_normalize'
body
    background-color: $neutral-800

.container
    max-width: 1260px
    margin: 0 auto
    background-color: red
