@import '@/shared/assets/styles/_variables.sass'

.title
    color: $neutral-100
    font-size: $fs-44
    font-weight: $fw-bold
    line-height: $fs-54
    margin: 32px 0px 98px
    text-align: center

.listLicenses
    display: flex
    flex-direction: row
    gap: 28px
    justify-content: center
    flex-wrap: wrap

.contact
    text-align: center
    margin: 32px 0px 42px
    .contactQuestion
        display: block
        color: $neutral-100
        font-weight: $fw-medium
        line-height: $fs-30
        font-size: $fs-18
    .contactLink
        color: $primary-1
        text-decoration: underline
        font-size: $fs-18
        font-weight: $fw-medium
        line-height: $fs-30
