@import '@/shared/assets/styles/_variables'

.bodyContent
    max-width: 100%
    width: 512px
    display: flex
    flex-direction: column
    gap: 24px
    .title
        color: $neutral-100
        font-size: $fs-28
        font-weight: $fw-bold
        line-height: $fs-40

.btnAction
    width: 160px
