@import '@/shared/assets/styles/_variables'

.bodyContent
    max-width: 100%

    display: flex
    flex-direction: row
    gap: 60px
    flex-wrap: wrap
    .title
        color: $neutral-100
        font-size: $fs-28
        font-weight: $fw-bold
        line-height: $fs-40
    .column
        width: 512px
        max-width: 100%
        display: flex
        flex-direction: column
        gap: 24px
    .input
