@import '@/shared/assets/styles/_variables.sass'

.link
    font-size: $fs-20
    line-height: $fs-22
    font-weight: $fw-medium
    color: $neutral-100
    text-decoration: none
    &:hover
        color: $neutral-500
