@import '@/shared/assets/styles/_variables'

.userMenu
    position: relative
    cursor: pointer
    .handlePopup
        color: $neutral-100
        display: flex
        flex-direction: row
        align-items: center
        gap: 7px
        .userLabel
            font-size: $fs-20
            font-weight: $fw-medium
            line-height: $fs-22
            font-family: $ff-thicccboi
        .closed
            transform: rotate(0)
            transition: transform 0.2s ease-in-out
        .opened
            transform: rotate(180deg)

    .popup
        z-index: 9998
        position: absolute
        top: 60px
        right: 0
        min-width: 188px
        background-color: $neutral-700
        padding: 12px
        border-radius: 12px
        display: flex
        flex-direction: column
        justify-content: flex-start
