@import '@/shared/assets/styles/_variables'

.menuItem
    cursor: pointer
    display: flex
    flex-direction: row
    gap: 12px
    padding: 16px 24px
    font-family: $ff-thicccboi
    color: $neutral-100
    font-size: $fs-20
    line-height: $fs-22
    font-weight: $fw-medium

    &:hover
        color: $neutral-500
