@import '@/app/styles/_variables.sass'

.status
    font-size: $fs-22
    font-weight: $fw-bold
    line-height: $fs-28

.active
    color: $system-green-300
.hold
    color: $system-orange-300
.inactive
    color: $system-red-300
