@import '@/shared/assets/styles/_variables.sass'

.listLicenseCode
    display: flex
    flex-direction: column
    gap: 32px

.select
    display: block
    font-size: $fs-20
    line-height: $fs-22
    font-weight: $fw-bold
    color: $neutral-100
    margin-bottom: 28px
    width: 181px
