
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-Black.woff2') format('woff2')
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-Light.woff2') format('woff2')
    font-weight: $fw-light
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-Regular.woff2') format('woff2')
    font-weight: $fw-regular
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-Medium.woff2') format('woff2')
    font-weight: $fw-medium
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-SemiBold.woff2') format('woff2')
    font-weight: $fw-semi-bold
@font-face
    font-family: 'Thicccboi'
    src: local('Thicccboi') url('../fonts/thicccboi/THICCCBOI-Bold.woff2') format('woff2')
    font-weight: $fw-bold
