
//font-families
$ff-inter: "Inter", sans-serif
$ff-dm-sans: "DM Sans", sans-serif
$ff-thicccboi: "Thicccboi"
// colors
$primary-1: #FC5842
$primary-1-op-30: #FC58464D
$primary-1-op-20: #FC584233

$secondary-1: #D1311C
$secondary-2: #FFF0EE

$neutral-800: #0c0c0c
// $neutral-700: #393939
$neutral-700: #272727
// $neutral-600: #737373
$neutral-600: #393939
$neutral-500: #969696
$neutral-400: #c7c7c7
$neutral-400-op-30: #c7c7c74D

$neutral-300: #d7d7d7
$neutral-200: #fbfbfb
$neutral-100: #ffffff
$neutral-100-op-30: #ffffff4d

$system-green-300: #05C168
$system-red-400: #DC2B2B
$system-red-300: #FF5A65
$system-red-200: #FFBEC2
$system-red-100: #FFEFF0
$system-orange-300: #FF9E2C

//font-sizes
$fs-14: 14px
$fs-16: 16px
$fs-18: 18px
$fs-20: 20px
$fs-22: 22px
$fs-24: 24px
$fs-26: 26px
$fs-28: 28px
$fs-30: 30px
$fs-34: 34px
$fs-44: 44px
$fs-40: 40px
$fs-54: 54px
$fs-66: 66px

//font-weights
$fw-light: 300
$fw-regular: 400
$fw-medium: 500
$fw-semi-bold: 600
$fw-bold: 700
