@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000')
@import './_variables'
@import './_normalize'
@import './_fonts'

html,
body
    height: 100%

body
    background-color: $neutral-800
    font-family: $ff-thicccboi
    overflow-x: hidden
.overflow-hidden
    overflow: hidden

button, input, a, li, span
    font-family: $ff-thicccboi

.container
    max-width: $large
    margin: 0 auto
    @media (max-width: $large)
        padding: 0px 16px
