@import '@/shared/assets/styles/_variables'

.heading
    display: flex
    flex-direction: column
    gap: 16px
    color: $neutral-100

    .title
        font-size: $fs-44
        font-weight: $fw-bold
        line-height: $fs-54

    .subTitle
        font-size: $fs-14
        font-weight: $fw-medium
        line-height: $fs-24
